# byte code / optimized / compiled stuff
__pycache__
*.pyc
*.pyd
*.pyo

# env
.venv/
venv/

# exclude huge number of datasets we have on local computer
dataset/

# include specific datasets
!dataset/eth3d/courtyard/
!dataset/erik_?/

# ide stuff
.vscode

# docs
docs/
