# byte code / optimized / compiled stuff
__pycache__
*.pyc
*.pyd
*.pyo

# env
.venv/
venv/

# exclude huge number of datasets we have on local computer
dataset/eth3d/

# include specific datasets
!dataset/eth3d/courtyard/

# ide stuff
.vscode

# docs
docs/
